spring:
  main:
    banner-mode: "off"
  jpa:
    database: h2
    hibernate:
      dialect: org.hibernate.dialect.H2Dialect
      ddl-auto: create-drop
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE;INIT=create schema IF NOT EXISTS testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
    settings:
      trace: true
      web-allow-others: true
  thymeleaf:
    cache: false

logging:
  level:
    org:
      springframework: INFO

server:
  port: 8090
